body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body, html {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  padding: 0 !important ;
  min-height: 100%;
  position: relative;
}

.logo{
  height: 50px;
}

.card.small{
  margin-left: 1rem !important;
}
.small{
  height: 200px !important;
}

.maincards {
  width: 100%;
  margin:auto!important;
  min-height: 90vh;


}
.maincard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.createcard {
  border-style: dashed;
  border-width: thick;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #BDBDBD;

}
.createcard:focus{
  background-color: #fff;
}

.createcard:hover{
  background-color: #8d6e63;
}



.plus{
  color: #BDBDBD;
}
/*Cards*/

.card-name{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 20px;
}

.card-image{
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#cardimage{
    height: 90%;
  width: 110px;
}


.card-content{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sultanName{
  margin-right: 10px!important;
  min-width: 50%!important;
}


.sultan-btn{
  padding:0 28px!important;
  background-color:#8D6E63 !important;
  display: flex!important;
  justify-content: center;

}

.sultan-delete-btn {
  position: absolute!important;
  right: 0!important;
  border: none!important;
  background: white;
}
.sultan-delete-btn:hover{
  background-color: #8D6E63;
}
.sultan-delete-btn:focus{
  background-color: #8D6E63;
}
.card-btn-icon{
  text-align: center;
}

.card-action {
  text-align: center;
  background-color: #8D6E63 !important;;
}

.card-action a{
    color: white!important;
}
/*viziers*/

.viziers{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection{
  margin: .5rem 0.5rem 1rem 0.5rem !important;
}


.viz-input-box{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.viz-input{
  max-width: 80%;
}

.viz-title{
  font-size: 20px!important;
}

.viz-lbl{
  font-size: 16px!important;
  margin-right: 2rem;
}

.vizier-img{
  height: 56px!important;
  width: 56px!important;
}

.collection-item{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.viz-content-box{
  margin-left: 3rem;
}

.viz-table{
  width: 90%;
  padding-bottom: 70px;

}

.viz-table td, th{
  padding: 5px 5px!important;
  text-align: center!important;
}


.viz-footer{
  height: 70px;
  background-color: #8d6e63;
  z-index: 9999999;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.sort{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.viz-btn{
  text-align: center;
  background-color:#F3E5F5!important;
  color: black;
  margin-top: 18px !important;
  margin-right: 10px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;

}

.sort-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-bottom: 0px !important;
}

.sort-box select{
  background-color:#F3E5F5!important;
  height: 2rem!important;
  margin-right:10px;
}

.sort-box input{
  background-color:#F3E5F5!important;
  height: 28px!important;
  color: black!important;
  margin:auto!important;
}
.sort-box input:disabled{
  background-color:#D2CDCB!important;

}
.sort-box input::placeholder{
  color: black!important;
}

.sort-btn{
  text-align: center;
  background-color:#F3E5F5!important;
  min-width: 40px!important;
  position: relative;

  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-left-width: 1px !important;
  border-bottom-width: 0 !important;

}
.sort-btn:disabled{

  background-color:#D2CDCB!important;


}
